/* GENERAL STYLE */
h1 {
    font-family: 'Raleway';
    font-size: 30px;
}
h2 {
    font-family: 'Raleway';
    font-size: 20px;
}
h3 {
    font-family: 'Raleway';
    font-size: 14px;
}
p {
    font-family: 'Raleway';
    font-size: 10pt;
}
figcaption {
    margin: 5px 0 10px 0;
    font-variant: small-caps;
    font-family: 'Raleway';
    font-weight: bold;
    color: #25ad98;
}
figure {
    padding: 5px;
    display: inline-block;
}

body {
    background-color: #dcf5f1;
}

/* WHOLE PAGE */
.whole-page {
    min-height:100%;
    width:100%;
    /*background-image:url("library/cloth_alike.png");*/
    display:table;
}

/* SIDEBAR */
    .left-side {
        display:table-cell;
        width: 300px;
        height: 680px;
        padding-bottom: 100px;

    }
    #left-title {
        padding-top: 20px;
    }

    .inside-left {
        width: 300px;
        margin: 10px;
        padding-top: -20px;
        background-color: rgba(255, 255, 255, 0.3);
        text-align: center;
    }

    #left-screenshot {
        border: 2px dotted white;
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
        margin: 20px;
    }

    #sidebar-text {
        margin-top: 10px;
    }

    #sidebar-image {
        margin-top: 3px;
        max-width: 200px;
    }


/* MAINPAGE */
    .right-side {
        width: 800px;
        margin-left: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        min-height: 680px;
        box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.4);
    }

    .instruction-line {
        float:left;
        margin-top: 20px;
    }
    #instructions {
        float:left;
        margin-top: 20px;
        width:700px;
    }
    #number-circle {
        float:left;
        margin-left: 20px;
    }

    #sn-button {
        float:left;
        margin-top: 80px;
        margin-left: 80px;
    }

    #instr-words {
        float:left;
        margin-left: 10px;
    }

    /* Site Preview Section */
    .suggestions {
        text-align: center;
        width: 700px;
        margin-top:30px;
        margin-left: -20px;
        float:left;
    }
    .site-preview-thumb:hover {
        transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    .site-preview-thumb {
        transition: transform 0.2s;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        -o-transition: -o-transform 0.2s;
    }
    .site-preview-thumb {
        width: 180px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    }