/* COLOR PALETTE

    MAIN COLOR
    #25ad98
    dark: #59a196
    #1a7869
    light: #51dbc6

    LINK COLOR
    #08c6a8

    RECORDING COLOR
    #d94747

    HEADER AND SUBSET
    color: #85b3ac;
    background-color: #dcf5f1;
*/

/* STANDARD FORMATTING */
    body {
        text-align: center;
        font-family: 'Raleway';
        font-size: 16px;
    }
    p {
        margin-top: 20px;
        font-size: 16px;
        font-family: 'Raleway';
    }
    a {
        color: #08c6a8;
    }
    button {
        display: inline-block;
        outline: 0px none;
        color: #FFF;
        background: none repeat scroll 0% 0% #25ad98; /*#4472B9;*/
        white-space: nowrap;
        border: 1px solid #25ad98 !important;
        font-family: 'Raleway',sans-serif;
        font-style: normal;
        padding: 5px 10px !important;  /*padding: 7px 16px !important;*/
        line-height: 1.0;
        position: relative;
        border-radius: 8px;
        /*box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.15);*/
        transition: all 0.4s ease 0s;
    }
    video {
        width: 330px;
    }
    #title {
        margin-top: -10px;
        margin-left: 10px;
        padding-bottom: 2px;
        font-size:40px;
        font-family: 'Raleway';
        color: #25ad98;
    }

/* CHANGE NAME/GROUP PAGE */
    #input-label {
        margin-right: 8px;
        margin-top: 10px;
    }
    #try-this-group {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
        background-color: #dcf5f1;
        padding: 20px;
    }
    .set-group-and-user {
        margin-top: 20px;
    }
    .change-user-group {
    cursor: pointer;
    font-weight: 200;
    }

/* ---------- MAIN PAGE ---------- */
/* HEADER */
    .metadata {
        margin-right: -20px;
        display: block;
        color: #85b3ac;
        background-color: #dcf5f1;
    }
    .metadata-names {
        width: 85%;
        height: 20px;
        margin-top: 7px;
        text-align: right;
        float: left;
        display:inline-block;
        font-size: 14px;
        overflow: auto;
    }
    .change-button {
        display:inline-block;
        width: 15%;
        height: 25px;
        font-size: 12px;
        text-decoration: underline;
        margin-top: 9px;
    }
    .user-name, .group-name {
        color: #5d7d78; /* 3 shades darker than rest of header text */
    }

/* RECORD AREA */
    .stop-asking-video-button {
        font-style:normal;
        color: #25ad98;
        margin-left: 6px;
        cursor: pointer;
    }
    .their-video {
        width: 250px;
        height: auto;
    }
    .record-button {
        margin-top: 20px; /* TODO hacky -- to get it to vertically align middle. 30px;*/
        margin-bottom: 0px;
        margin-left: 20px;
        /* If we want the record button to be red */
        /*background-color: #d94747;
        border-color: #d94747 !important;*/
    }
    .record-stop-button {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .record-start-button {
        /* If we want the record button to be red */
        /*background-color: #d94747;
        border-color: #d94747 !important;*/
        margin-top: 10px;
        margin-bottom: 30px; /*successfully pushes down bottom inset */
    }
    #webcam-text {
        margin: 22px;
        margin-bottom: 23px; /* exactly the same height as "Record a message" so there's no movement */
    }
    .allow {
        width:100px;
        vertical-align: left;
    }
    #webcam_stream {
        margin-top: 20px;
    }

/* FEED ARENA */
.lower-section {
    margin-left: 10px;
}
.lower-section-content {
    /*background : linear-gradient(white,#f1f1f1);*/
    /*border : dotted 1px #4472B9;*/
    /*border: solid 1px #25ad98;*/
    color: #85b3ac;
    background-color: #dcf5f1;
    overflow: auto;
    height: 430px;
    margin-top: -5px;
    padding-top: 5px;
    padding-right: 7px;
}
.tab-button-area button {
    margin-top: 20px;
    background-color: #53a296 !important;
    border-color: #53a296 !important;
}
.tab-button-area button.active-content-btn {
    background-color: #53a296 !important;
    border-color: #53a296 !important;
    box-shadow: 0px 0px 3px 3px rgba(41,139,124,0.6);
}

.loading-spinner {
    padding: 44px;
}
#sidenote-content {
    background: white; /*linear-gradient(#bdedff, white);*/
    border: none;
    top: 0;
    right: 0;
    margin-left: -20px;
    z-index: 10;
    animation-duration: .8s;
    -webkit-animation-duration: .8s;
    -moz-animation-duration: .8s;
}

.group-name-wrapper, .user-name-wrapper {
    display: inline-block;
}
.group-feed-container {
    margin-top: 20px;
}

.message-feed-elem {
    padding-left: 20px;
    padding-top: 6px;
}
.messages-container-inner {
    width: 320px; /* arbitary for demo only */
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}

.close-sidenote {
    position: fixed;
    top: 0px;
    right: 6px;
    cursor: pointer;
    display: block;
    width: 20px;
    font-size: 1.4em;
    text-align: center;
    color: #555;
}
.close-sidenote:hover {
    color: #999;
}

.wrapper {
    width: 320px; /* arbitary for demo only */
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}

.recording-error-message, .record-overtime-error-message, .input-info-error {
    color: #d94747; /* red */
}
.done-inputting-info{
    margin-bottom:20px;
}
.user {
    display: inline-block;
    text-align: center;
    position: relative;
}
.sample-user.place-user {
    margin-left: 10px;
}
.sample-user.place-user i {
    font-size: 100px;
    padding: 25px;
}
.sample-user {
    color: #333;
}
.message-feed-elem {
    text-align: left;
    margin-top: 9px;
}

.vid-message-wrapper {
    padding-top: 12px;
}
.vid-message-user {
    display: inline-block;
    color: black;
}
.vid-message-timestamp {
    display: inline-block;
    color: #AAA;
    font-size: .9em;
}
.feed-timestamp {
    color: #AAA;
    font-size: .8em;
}

.waiting-message {
    margin: 20px;
}
.waiting-intertubes{
    font-size: 14px;
}
#video-container {
    display: none;
}

#setup-error {
    display: none;
}